<div class="list-display">
  <div class="list">
    <% eventsRec.forEach(event => { %>
    <% const sd = new Date(event.startDate), ed = new Date(event.endingDate) %>
    <% const sd2 = [sd.getDate(), sd.getMonth(), sd.getFullYear()] %>
    <% const ed2 = [ed.getDate(), ed.getMonth(), ed.getFullYear()] %>
    <details class="event overlay">
      <summary>
        <span class="event-title"><%= event.title %></span>
        <div class="buttons">
          <button class="btn find" title="Ir">
            <ion-icon name="map"></ion-icon>
          </button>
          <% if (user && user.type === 'admin') { %>
          <form action="/edit" method="post">
            <input type="hidden" name="_id" value="<%= event._id %>">
            <input type="hidden" name="title" value="<%= event.title %>">
            <input type="hidden" name="positionLat" value="<%= event.positionLat %>">
            <input type="hidden" name="positionLng" value="<%= event.positionLng %>">
            <input type="hidden" name="description" value="<%= event.description %>">
            <input type="hidden" name="startDate" value="<%= event.startDate %>">
            <input type="hidden" name="endingDate" value="<%= event.endingDate %>">

            <button type="submit" class="btn edit" title="Editar evento">
              <ion-icon name="create"></ion-icon>
            </button>
          </form>

          <div class="del-btn-display">
            <span class="hidden" id="event-id"><%= event._id %></span>
            <button class="btn btn-danger del-btn" title="Deletar evento">
              <ion-icon name="trash"></ion-icon>
            </button>
            <div class="del-btn-cover"></div>
          </div>
          <% } %>
        </div>
      </summary>
      <div class="event-desc-display">
        <p class="event-desc"><%= event.description %></p>
        <p class="dates">
          <% if (event.startDate && event.endingDate) { %>
          Data:
          <%if(sd2[0]<10){%>0<%}%><%=sd2[0]%>/<%if(sd2[1]<10){%>0<%}%><%=sd2[1]%>/<%=sd2[2]%>
          -
          <%if(ed2[0]<10){%>0<%}%><%=ed2[0]%>/<%if(ed2[0]<10){%>0<%}%><%=ed2[1]%>/<%=ed2[2]%>
          <% } else { %>
          Sem data
          <% } %>
        </p>
        <form action="/subscribeEvent" method="post">
          <input type="hidden" name="user" value="<%= user._id %>">
          <input type="hidden" name="event" value="<%= event._id %>">
          <button type="submit" class="btn subscribe">Inscrever-se</button>
        </form>
      </div>
    </details>
    <% }) %>
  </div>
</div>